include data.pug
include mixins.pug

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Monaco</title>
	</head>
	<body>
		<center>
			<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family: 'Trebuchet MS', sans-serif;">
				<tr>
					<td align="center" valign="top">
						<table width=!{global.width} cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
							<tr>
								<td align="center">
									<table width=!{global.width} cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width=!{global.width} style="background: #bebebe; text-align: center; padding: 7px 0;">
												<span style="color: #ffffff; font-size: 14px; font-weight: bold;">БЕСПЛАТНАЯ ДОСТАВКА</span>
											</td>
										</tr>
										<tr>
											<td width=!{global.width} style="text-align: center; padding: 20px 0;">
												<a target="_blank" href=!{"https://monacomoda.com/"+global.utm}>
												<img style="display: block; margin: 0 auto;" border="0" src="https://monacomoda.com/media/img/mail/logo.png" alt="">
												</a>
											</td>
										</tr>
										<tr>
											<td style="border-bottom: 1px solid #000000; padding: 15px 0; text-align: center; font-size: 16px;">
												<a target="_blank" style="display: inline-block; color: #000000; text-decoration: none; margin: 0 2%; font-weight: bold;" href=!{"https://monacomoda.com/catalog/woman/novinki/"+global.utm}>НОВИНКИ</a>
												<a target="_blank" style="display: inline-block; color: #000000; text-decoration: none; margin: 0 2%; font-weight: bold;" href=!{"https://monacomoda.com/forher/"+global.utm}>ДЛЯ НЕЁ</a>
												<a target="_blank" style="display: inline-block; color: #000000; text-decoration: none; margin: 0 2%; font-weight: bold;" href=!{"https://monacomoda.com/forhim/"+global.utm}>ДЛЯ НЕГО</a>
												<a target="_blank" style="display: inline-block; color: #000000; text-decoration: none; margin: 0 2%; font-weight: bold;" href=!{"https://monacomoda.com/catalog/brands/"+global.utm}>БРЕНДЫ</a>
												<a target="_blank" style="display: inline-block; color: #000000; text-decoration: none; margin: 0 2%; font-weight: bold;" href=!{"https://monacomoda.com/catalog/woman/sale/"+global.utm}>SALE</a>
											</td>
										</tr>
									</table>
									<table width=!{global.width} cellpadding="0" cellspacing="0" border="0" style="padding: 80px 0; background-image: url('http://monacomoda.com/media/img/mail/new/20181228/bg.jpg'); background-size: cover; background-position: center;">
										<tr>
											<td >
												<table style="width: 90%; margin: 0 auto;">
													<tr>
														<td style="padding: 20px 0; background: rgba(255,255,255,.9); border: 1px solid black; text-align: center; font-size: 21px;">
															<p>Дорогие друзья!<br>Поздравляем Вас с наступающим Новым годом!</p>
															<p style="font-size: 18px; margin-bottom: 40px;">Пусть в этом году исполнятся самые<br>сокровенные мечты,<br>добро и счастье не покидает Вас ни на секунду,<br>а любовь родных и близких<br>согревает в самую холодную погоду!</p>
															<p style="font-size: 18px;">В уходящем году мы дарим всем скидку 15%<br>по промокоду<br><span style="font-size: 30px;">NEW2019</span></p>
															<p style="margin: 20px 0;">Спасибо, что Вы с нами!</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						
						
						
						
						<table width=!{global.width} cellpadding="0" cellspacing="0" border="0" style="padding: 15px 20px; border-top: 1px solid #000000;">
							<tr>
								<td style="text-align: left; font-size: 12px;">
									<a href=!{"https://monacomoda.com/about/"+global.utm} target="_blank" style="color: #000000;">Мультибрендовый магазин </a>
								</td>
								<td style="text-align: center; font-size: 12px;">
									<a href=!{"https://monacomoda.com/about/"+global.utm} target="_blank" style="color: #000000;">Более 24 мировых брендов</a>
								</td>
								<td style="text-align: right; font-size: 12px;">
									<a href=!{"https://monacomoda.com/about/"+global.utm} target="_blank" style="color: #000000;">Предзаказ новых коллекций</a>
								</td>
							</tr>
						</table>
						<table width=!{global.width} cellpadding="0" cellspacing="0" border="0" bgcolor="#e3e3e3" style=" padding: 30px 20px;">
							<tr>
								<td style="vertical-align: middle;">
									<a href="https://monacomoda.com/?utm_source=email&utm_medium=email&utm_campaign=podborka&utm_content=avgust">
									<img border="0" style="display: block;" src="https://monacomoda.com/media/img/mail/monaco-f.png" alt="">
									</a>
								</td>
								<td align="center" style="vertical-align: middle;">
									<a href="tel:88002504807" style="font-size: 20px; color: #000000; text-decoration: none; margin-bottom: 5px; display: inline-block;">8 800 250 48 07</a><br>
									<a href=!{"https://monacomoda.com/"+global.utm} target="_blank" style="font-size: 16px; color: #000000;">monacomoda.com</a>
								</td>
								<td align="right" style="vertical-align: middle;">
									<a href="https://www.instagram.com/monaco.cs/">
									<img border="0" style="display: block;" src="https://monacomoda.com/media/img/mail/inst.png" alt="">
									</a>
								</td>
							</tr>
						</table>
						<table width=!{global.width} cellpadding="0" cellspacing="0" border="0" style="text-align: center;">
							<tr>
								<td>
									<p style="margin: 10px 0 0; color: black; font-size: 12px;"><a href="{{unsubscribe_url}}" style="color: black;">Отписаться</a> и больше не получать от нас письма</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>
